
  @import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&display=swap');
body {
  font-family:'AR One Sans', sans-serif !important;
  background-color:#F9F9F9 ;

}

h1{
  font-size: 3.5rem;
}


#infos-home {
  display: flex;
  flex-direction: row;
}
.logo {
  width: 30px;
  height: 30px;
}

.navbarItem{
  color: #ccf381 !important;
  background-color: #4831d4;
  border-radius: 15px;
  margin-left: 10px;
  opacity: 0.8;
  width: 150px;
  height: 40px;
  margin: auto 6px auto 6px !important;
  text-align: center;

}

.navbarTxt{
    opacity: 3!important;
    margin: auto !important;
   padding: 0px 5px 0px 5px !important;
   color: #ccf381 !important;
}

.navbar {
  background-color: #4831d4;
  opacity: .9;
  height: 50px;
  color: #ccf381 !important;
  padding: 5px;
}

.botaotechs {
  width:max-content;
  color: #4831d4 !important;
  font-weight: bolder;
  height: 60px;
  margin: 50px 15px 50px 0px;
  border: 1px solid #4831d4 !important;
  border-radius: 15px;
  transition: 1s;
}

.botaoredes {
  width:max-content;
  color: #4831d4 !important;
  font-weight: bolder;
  height: 60px;
  margin: 50px 15px 50px 0px;
  border: 1px solid #4831d4 !important;
  border-radius: 15px;
  transition: 1s;
}

.botaotechs:hover:enabled  {
    color: #ccf381 !important;
    background-color: #4831d4;

    .linkRedes{
      
    color: #ccf381 !important;
    }
}
.botaoredes:hover:enabled  {
    color: #ccf381 !important;
    background-color: #4831d4;

    .linkRedes{
      
    color: #ccf381 !important;
    }
}

#arrow {
  width: 75px !important;
  border-radius: 50% !important;
}

.botaoinicial,
a.botaoinicial,
a.botaoinicial:visited {
  width: max-content;
  font-weight: bolder;
  height: 60px;
  margin: 50px auto;
  border: 1px solid #ccf381 !important;
  border-radius: 15px;
  transition: 1s;
  text-align: center;
  text-decoration: none !important;
  background-color: transparent;
  color: #ccf381 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.botaoinicial:hover,
a.botaoinicial:hover {
  background-color: #ccf381 !important;
  color: #4831d4 !important;
  text-decoration: none !important;
}

#venha:hover {
  color: #4831d4;
}

#botaoVoltar{
  outline: none;
  background-color: #fff;
  display: flex;
  border: 0px;
  padding: 0px !important;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 0;
  bottom: 30px;
  z-index: 999;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all .6s ease;
}

#botaoVoltar.active {
  visibility: visible;
  opacity: 1;
}

#foto {
  position: relative;
  left: 12rem;
  width: 600px;
  height: 550px;
}

#infos {
  background-image: linear-gradient(90deg, #4831d4 67%, #ccf381 33%);
  padding-top: 80px;
  height: 1150px !important;
}

.text{
  color: rgb(204, 243, 129) ;
  margin-bottom: 15px;
  margin-top: 30px;
  transform: translateY(115px);
  transition: transform 0.5s ;
}

p {
  font-weight: 500;
}


.circlePurple {
  width: 200px;
  height: 200px;
  border:  10px outset  #4831d4 ;
  border-radius: 200px;
  position: relative;
  left: 580px;
  top: -600px;
}
.circleGreen {
  width: 200px;
  height: 200px;
  border:  10px outset  #ccf381 ;
  border-radius: 200px;
  position: relative;
  left: 110px;
  top: -500px;
}
#textos{
  font-size: 1.3rem;
  margin-bottom: 1.4rem;
  gap: 18px;
  display: flex;
  flex-direction: column;
}

#msg{
  width: 130px;
  font-size: 1rem;
}

#litllemsg {
  display: flex;
  flex-direction: row;
  gap: 300px;
  margin-top: 200px;
}

#textos {
  width: 550px;
}
p {
  color: #F6F4FD;
}


#gradeTechs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 60px 0px;
  gap: 60px 5px;
  place-content: center;
}

.techFoto {
  width: 60px;
  height: 60px;
}

.techNome{
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  padding-top: 2px;
}

.cardTech:hover {
  box-shadow: #666666 0px 30px 50px -12px;
  transition: 1s;
}

.cardTech {
  border: 3px solid #4831D4;
  width: 110px;
  height: 110px;
  background-color: #e7e7eb;
  border-radius: 15%;
  text-align: center;
  color: #4831D4;
  text-transform: capitalize;
  font-weight: bolder;
  padding: 10px 5px 0px 5px;
  opacity: .9;
  margin: auto;
  transition: 1s;
  /* transform: translate(-700px);
  rotate: 180deg; */
}

.TitleSobre{
  
  color: #CCF381!important;
  font-weight: 700;
  text-align: center;
}
.TitleTechs{
  
  color: #4831D4 !important;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

.tecnologias {
  background-color: #FFFFFF;
  border-radius: 5%;
  
}

.projetos {
  height: 2100px;
}

#techsSection, #sectionProjetos {
  background-color:#F9F9F9 ;
  color: #4831d4;
  text-align: center;
  margin: auto;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

#nomeh1 {
  
    font-kerning: none;
  
}

.nativefoto {
  box-sizing: border-box;
  height: 400px;
  width: 400px;
  margin: 80px 15px;
}

.reactfoto {
  box-sizing: border-box;
  height: 400px;
  width: 400px;
  margin: 80px;
  border-radius: 50%;
  animation: rotate 7s infinite linear;
}

hr {
  transform: rotate(90deg);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

.sobreMimItens {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: space-around;
}

.sobreMimdiv {
  padding-top: 100px !important;
  padding-bottom: 250px;
  display: grid;
}

#hello {
  margin: 50px 0 -40px 0;
  font-size: 40px;
  color: #ccf381;
}
#hello2 {
  margin: -30px 0 40px 0;
  font-size: 40px;
  color: #ccf381;
}
#sobreMim{

  background-color: #4831D4;
}

a{
  text-decoration: none !important;
  color: white;
}

.minhaFoto {
  height: 550px;
  width: 400px;
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 5px;
  /* box-shadow: 10px 10px #4831d4; */
  /* border: 20px outset #ccf381; */

}

.txtSobre {
  color: #F6F4FD !important;
  margin-top: 25px;
  font-size: 1.5rem;
}

.txtTechs {
  
  color: #4E5F67 !important;
  margin-top: 25px;
  font-size: 1.5rem;
}

#enfase {
  color: #ccf381;
  font-weight: 700;
}


#enfase2 {
  color: #ccf381;
  font-weight: 700;
}

#enfase:hover {
  font-size: larger;
  transition: 0.8s;
}

.txtSobre:hover {
  font-size: 1.8rem;
  transition: 0.6s;
}

.itensSobre {
  margin: 200px auto auto auto;
}

#fotodiv {
  height: 650px;
}

.divfoto {
  margin: 0px 100px;
}

.cardProjeto1{
  width: 70%;
  border-radius: 18px;
  height: min-content;
  border: 6px solid #e7e7eb;
  color: #4E5F67;
  margin-bottom: 30px;
  margin: 30px 0px;
  transition: 0.7s;
  background: linear-gradient(45deg, #e9ecec 60%, #d6ebb0);
}

.cardProjeto2 {
  width: 70%;
  height: min-content;
  border-radius: 18px;
  border: 6px solid #e7e7eb;
  color: #4E5F67;
  margin: 30px 0px;
  float: inline-end;
  transition: 0.7s;
  background: linear-gradient(-45deg, #e9ecec 60%, #d6ebb0);
}

.cardProjeto2:hover {
  scale: 1.07;
  left: 0px;
  transition: 0.7s !important;
  box-shadow: rgb(61, 61, 61) 0px 30px 50px -12px;
} 

.cardProjeto1:hover {
  scale: 1.07;
  left: 0px;
  transition: 0.7s!important;
  box-shadow: rgb(61, 61, 61) 0px 30px 50px -12px;
}

.projetoFoto{
  width: 300px;
  height: 250px;
}
.container2 {
  float: right;
  width: 100%;
}

.carousel-item >img {
  width: 1000px !important;
}
.carousel-caption {
  color: #e8e6e6 !important;
}

.carousel-control-prev-icon {
  background-color: #4831D4;
  border-radius:20px;
  padding: 20px;
}
.carousel-control-next-icon{
  background-color: #4831D4;
  border-radius:20px;
  padding: 20px;

}
.container1{
  float: left;
  width: 100%;
  position: relative;
}

.projeto1{
  display: flex;
  gap: 25px;
  margin: 20px 10px 10px 10px;
}

.projeto2{
  display: flex;
  gap: 25px;
  margin: 20px 10px 10px 10px;
  justify-content: flex-end;
}

.projetoNome{
  font-weight: bold;
  font-size: 2.5rem;
}

.tecnologiasProjeto{
  font-style: oblique;
}

.descricaoProjeto {
  color: #4E5F6C !important;
  font-size: 1.3rem;
}
.botaoProjeto {
  width:max-content;
  color: #4831d4 !important;
  font-weight: bolder;
  height: 60px;
  margin: 50px 10px;
  border: 1px solid #4831d4 !important;
  border-radius: 15px;
  background-color: transparent;
  transition: 0.7s;
  
}


.repo {
  
  color: #4831d4 !important;
  transition: 1s;
}


.botaoProjeto:hover:enabled  {
    color: #CCF381  !important;
    background: linear-gradient(45deg, #4831d4 30%, #ccf381);
    transition: 1s;
    
.repo {
  color: #ccf381 !important;
  transition: 1s;
}

}

.sectionRedes{
  background-color: #CCF381;
  color: #4831D4;
  text-align: start;
  width: 100%;
  height: 1000px;

  a{
    text-decoration: underline !important;
  }
}

.TitleRedes{
  color: #4831D4;
  padding: 30px 0px;
}

.redesImg{
  display: flex;
  height: 450px;
  gap: 450px;
}

.redesSociaisImg{
  position: relative;
  top: 100px;
  width: 500px;
  height: 500px;
}

.qr {
  margin: 30px;
  width: 350px;
  height: 350px;
}

.whatsappDiv{
  height: min-content;
  margin-top: 80px;
  font-weight: 700;
}

.wppText {
  font-size: 2.5rem;
}

.linkRedes{
  color: #4831D4 !important;
}
@media (max-width: 1650px) {
  
#textos{
  width: 1500px;
}


.carousel-item >img {
  width: 800px !important;
}

#foto{
  left: 1rem;
}

#fotodiv {
  position: relative;
  left: -3rem;
}

.circleGreen {
  position: relative;
  left: -6rem;
}
.circlePurple {
  position: relative;
  left: 25rem;
}
.redesSociaisImg{
  width: 550px;
  height: 430px;
  right: 3rem;
}


#infos-home {
  display: flex;
  flex-direction: row;
}
}

@media (max-width: 1550px) {
  
#fotodiv {
  position: relative;
  left: 3rem;
}


.circleGreen {
  position: relative;
  left: -6rem;
}
.circlePurple {
  position: relative;
  left: 25rem;
}
}

@media (max-width: 1400px) {
  .cardProjeto1{
    height: 350px ;
    margin-bottom: 10px;
  }
  
  .cardProjeto2{
    height: 350px ;
    margin-bottom: 10px;
  }

  .botaoProjeto{
    margin-top: 15px;
  }
}

@media (max-width: 1200px) {
  #fotodiv {
    position: relative;
    left: 10rem;
  }
  

  .botaoProjeto{
    margin-top: 0px;
  }
  .cardProjeto1{
    
    float: none;
    margin: auto;
  }

  .tecnologias{
    display: flex !important;
  }

  .reactfoto {
    width: 300px;
    height: 300px;
  }
  
  .cardProjeto2{
    height: 350px ;
    margin: auto;
    float: none;
  }
.projetos {
  display: grid;
  justify-content: center;
  
}


.container1{
  float:left;
  width: 1200px;
}
.container2{
  float:left;
  width: 1200px;
}
  
#infos-home {
  flex-direction: column; /* Alinhando os elementos verticalmente */
}
#textos{
  width: 1000px;
}
#fotodiv{
  width: 500px;
}
.container1{
  width: 1000px;
}
.container2{
  width: 1000px;
}
.txtSobre{
  width: 200px;
}
/* #infos{
  background-image: none;
  background-color: #4831d4 !important;
} */

#textos {
  width: fit-content;
}
.sobreMimItens {
  grid-template-columns: 1fr ;
  align-content: space-around;
}
.itensSobre{
  width: 100%;
  margin-top: 30px;
}
.txtSobre{
  margin: 10px auto;
  width: 300px;
}
.minhaFoto{
  top: 0px;
  width: 300px;
  height: 350px;
  margin-left: 25%;
}

}


@media (max-width: 1000px) {
  .redesSociaisImg{
    right: 9rem;
  }
  #fotodiv{
    width: 350px;
  }
  .nav-item{
    width: 110px;
  }
  #sectionProjetos{
    height: 3000px;
  }

  .tecnologias{
    width: 700px;
  }
  .tecnologias > img{
    width: 250px;
    height: 250px;
    animation: none;
  }

  .navbar {
    height: 80px;
    align-content: center;
  }
  .container1{
    width: 700px;
  }
  .container2{
    width:  700px;
  }
  .descricaoProjeto {
    width: 550px;
  }
  .projeto1, .cardProjeto1{
    width: 600px;
    height: 520px;
    display: grid;
    grid-auto-flow:dense;
    align-content: center;
  }
  .projeto1 > img {
    margin: 15px auto;
  }
  .projeto2, .cardProjeto2{
    width: 600px;
    height: 520px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow:dense;
    gap: 0px;
    align-content: center;
  }
  .projeto2 > img {
    margin: 15px auto;
    order: -1;
  }
  
  .projetoFoto {
    width: 200px;
    height: 200px;
  }
  .dadosProjeto{
    height: 200px;
    order: 1;
  }
  .dadosProjeto > h2 {
    font-size: 30px;
  }
  .dadosProjeto > h3 {
    font-size: 25px;
  }
  .dadosProjeto > p {
    font-size: 20px;
  }
  .projetos{
    gap: 30px;
    justify-items: center;
  }
  .TitleSobre{
    width: 600px;
    margin: auto;
  }
}
@media (max-width: 920px) {
  #foto{
    width: 25rem;
    height: 25rem;
  }
  .circleGreen{
    width: 7rem;
    height: 7rem;
    right: 6rem;
  }
  .circlePurple{
    width: 7rem;
    height: 7rem;
    left: 20rem;
  }
  #fotodiv {
    height: 25rem;
  }
}
@media (max-width: 800px){
  .tecnologias{
    width: 22rem !important ;
    height: 15rem;
  }

  
.carousel-item >img {
  width: 600px !important;
}
  .reactfoto{
    width: 150px !important;
    height: 130px !important;
    margin: auto;
  }
  .nativefoto{
    width: 150px !important;
    height: 130px !important;
    margin: auto;
  }
  .container1, .container2{
    width: 100%;
  }
  .projeto1, .projeto2{
    width: 100%;
    margin: auto;
  }
  .cardProjeto1, .cardProjeto2{
    width: 100%;
  }
  .dadosProjeto{
    width: 80%;
    margin: auto;
  }
  .dadosProjeto > h2{
    font-size: 1.5rem;
  }
  .tecnologias{
    margin: auto;
  }
  .dadosProjeto > h3{
    font-size: 1.2rem;
  }
  .dadosProjeto > p{
    font-size: 1rem;
    margin-bottom: 2px;
  }
  .dadosProjeto > button{
    height: 3rem;
  }
  .descricaoProjeto{
    width: 80%;
  }
  .divfoto{
    width: 300px;
    align-content: center;
    text-align: center;
  }
  .TitleSobre{
    width: 70%;
  }
  .circlePurple{
    display: none;
  }
  .circleGreen{
    
    display: none;
  }
  #fotodiv{
    width: 70%;
    display: none;
  }
  #foto{
    width: 350px;
    height: 300px;
    margin: auto;
  }
  .container1, .container2 {
    width: 80%;
  }
  .minhaFoto{
    width: 80%;
    height: 80%;
  }
  .divfoto{
    margin: auto;  }
  .gustavo > h1 {
    font-size: 40px !important;
  }
  .tecnologias{
    width: 90%;
  }
  .reactfoto, .nativefoto{
    width: 25% !important;
    height: 20%;
  }
  .botaoProjeto{
    margin: auto;
    height: 4rem;
    margin-bottom: 10px !important;
  }
  .cardProjeto1, .cardProjeto2{
    height: 130%;
  }
  .projetos{
    gap: 40px;
    align-items: center;
  }
  .techs {

    width: 100%;
  }
  #gradeTechs{
    grid-template-columns: 1fr 1fr;
  }
  #sectionProjetos{
    height: 3200px;
  }
  .whatsappDiv{
    display: none;
  }
  .redesImg{
    display: none;
  }
  .sectionRedes{
    height: 80%;
  }
  .container > h2 {
    margin-bottom: 0px !important;
    padding-bottom: 15px !important;
  }
}
@media (max-width: 600px){
  
.carousel-item >img {
  width: 480px !important;
}
#infos {
  background-color:  #4831d4 !important;
  background-image: none;
  padding-top: 80px;
  height: 770px !important;
}
#hello2 {
  margin-top: 0.1px;
}

.gustavo {
  height: 60px;
}

}

@media (max-width: 500px) {
  
  .gustavo > h1 {
    font-size: 35px !important;
  }

.carousel-item >img {
  width: 400px !important;
}
  .navbarItem{
    margin-left: 0px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    width: fit-content !important;
  }
  .minhaFoto{
    margin: auto !important;
  }
.divfoto{
  text-align: center;
}
  .navbar{
    display: flex;
    place-content: center;
  }
  .botaoProjeto {
    
    margin: 5px 2px;
    width: fit-content;
  }
  .botoesRedes{
    display: grid;
  }
  .botaoredes{

    margin: 20px auto;
  }
  .gustavo > h1 {
    font-size: 25px !important;
  }
  #hello2, #hello {
    font-size: 25px;
  }
  .navbarItem{
    font-size: 13px;
  }
  .nav-item{
    width: fit-content;
  }
}

@media (max-width: 400px) {
  .botaoProjeto{
    width: fit-content;
  }
  .container1, .container2{
    width: fit-content;
  }

  
.carousel-item >img {
  width: 300px !important;
}

  
.cardProjeto2:hover {
  scale: none;
  left: 0px;
  transition: none;
  box-shadow: rgb(61, 61, 61) 0px 30px 50px -12px;
} 
.cardProjeto1:hover {
  scale: none;
  left: 0px;
  transition: none;
  box-shadow: rgb(61, 61, 61) 0px 30px 50px -12px;
} 
.tecnologias{
  display: grid !important;
  grid-template-columns: 1fr;
  width: 100% !important;
}

.TitleTechs {
  font-size: 40px;
}
.reactfoto, .nativefoto{
  width: 70px !important;
  height: 70px !important;
}
.navbar-nav {
  margin-right: 0px !important;
}
.navbar-collapse{
  margin: auto;
  text-align: center;
  justify-content: space-around;
}
}